<div class="row">
  <div class="col-12">
    <%= f.email_field :email, placeholder: 'Email', class: 'p-2 my-2 w-100', autofocus: true, autocomplete: "off" %>
  </div>
</div>

<div id="password-credentials">
  <div class="row">
    <div class="col-12">
      <%= f.password_field :password, placeholder: 'Password', class: 'p-2 my-2 w-100', autocomplete: "off" %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', class: 'p-2 my-2 w-100', autocomplete: "off" %>
    </div>
  </div>
</div>

<div data-hook="signup_below_password_fields"></div>
